$primary-color: #6C6D73;
$hover-color: rgba(0, 0, 255, 0.384);
$hr-color: rgba(0, 0, 255, 0.384);
$p-color: #000000a7;
$title-color: rgba(0, 0, 0, 0.858);
$form-text-color: whitesmoke;
$form-background-color: rgba(0, 0, 0, 0.779);

$colors__footer: (
color_twitter: #0099CC,
color_snap: black,
);

$color_instagram: (
    color: transparent,
    background: (radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%)),
    background_w: (-webkit-radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%)),
    background-clip: text,
    -webkit-background-clip: text,
);