$primary-color: #6C6D73;
$hover-color: rgba(0, 0, 255, 0.384);
$hr-color: rgba(0, 0, 255, 0.384);
$p-color: #000000a7;
$title-color: rgba(0, 0, 0, 0.858);
$form-text-color: whitesmoke;
$form-background-color: rgba(0, 0, 0, 0.779);
