@import '../utilities/mixins';

.galery{
    @include gridlayout(2, auto, 6, 20em, 0.5em){
       margin-top: 1em;
       margin-left: 0.4em;
       margin-right: 0.5em
    };
    
    
    &__div:nth-child(1){
        grid-column: 1 / 1;
        grid-row: 1 / span 1;
    }

    &__div:nth-child(2){
        grid-column: 2 /  2;
        grid-row: 1 / span 1 ;
    }

    &__div:nth-child(3){
        grid-column: 1 /  1;
        grid-row: 2 / span 1;
    }

    &__div:nth-child(4){
        grid-column: 2 /  2;
        grid-row: 3 / span 1;
    }

    &__div:nth-child(5){
        grid-column: 1 /  1;
        grid-row: 3 / span 1;
    }

    &__div:nth-child(6){
        grid-column: 2 /  2;
        grid-row: 4 / span 1;
    }

    &__div:nth-child(7){
        grid-column: 1 /  1;
        grid-row: 4 / span 1;
    }

    &__div:nth-child(8){
        grid-column: 2 /  2;
        grid-row: 5 / span 1;
    }

    &__div:nth-child(9){
        grid-column: 1 /  1;
        grid-row: 5 / span 1;
    }

    &__div:nth-child(10){
        grid-column: 2 /  2;
        grid-row: 6 / span 1;
    }

    &__div:nth-child(11){
        grid-column: 1 /  1;
        grid-row: 6 / span 1;
    }

    &__div:nth-child(12){
        grid-column: 2 /  2;
        grid-row: 2 / span 1;
    }

    &__img{
        width: 100%;
        height: 100%;
    }    
}

 @include tablet__s{
     .galery{
      

        &__div:nth-child(1){
            grid-column: 1 / 1;
            grid-row: 1 / span 1;
        }

        &__div:nth-child(2){
            grid-column: 2 /  2;
            grid-row: 1 / span 1 ;
        }

        &__div:nth-child(3){
            grid-column: 1 /  1;
            grid-row: 2 / span 1;
        }

        &__div:nth-child(4){
            grid-column: 2 /  2;
            grid-row: 3 / span 1;
        }

        &__div:nth-child(5){
            grid-column: 1 /  1;
            grid-row: 3 / span 1;
        }

        &__div:nth-child(6){
            grid-column: 2 /  2;
            grid-row: 4 / span 1;
        }

        &__div:nth-child(7){
            grid-column: 1 /  1;
            grid-row: 4 / span 1;
        }

        &__div:nth-child(8){
            grid-column: 2 /  2;
            grid-row: 5 / span 1;
        }

        &__div:nth-child(9){
            grid-column: 1 /  1;
            grid-row: 5 / span 1;
        }

        &__div:nth-child(10){
            grid-column: 2 /  2;
            grid-row: 6 / span 1;
        }

        &__div:nth-child(11){
            grid-column: 1 /  1;
            grid-row: 6 / span 1;
        }

        &__div:nth-child(12){
            grid-column: 2 /  2;
            grid-row: 2 / span 1;
        }

        &__img{
            width: 100%;
            height: 100%;
        }    
    
     }
}

@include tablet{
    .galery{
        @include gridlayout(3, auto, 10, 11em, 0.2em);
    
        &__div:nth-child(1){
            grid-column: 1 / span 1;
            grid-row: 1 / span 3;
        }
    
        &__div:nth-child(2){
            grid-column: 3 /  span 1;
            grid-row: 1 / span 3 ;
        }
    
        &__div:nth-child(3){
            grid-column: 2 / span 1;
            grid-row: 1 / span 2;
        }
    
        &__div:nth-child(5){
            grid-column: 3 / span 1;
            grid-row: 4 / span 3;
        }
    
        &__div:nth-child(6){
            grid-column: 1 / span 1;
            grid-row: 7 / span 2;
        }
    
        &__div:nth-child(7){
            grid-column: 1 / span 1;
            grid-row: 4 / span 3;
        }
    
        &__div:nth-child(8){
            grid-column: 1 / span 1;
            grid-row: 9 / span 2;
        }
    
        &__div:nth-child(9){
            grid-column: 2 / span 1;
            grid-row: 4 / span 2;
        }
    
        &__div:nth-child(10){
            grid-column: 2 / span 1;
            grid-row: 7 / span 3;
        }
    
        &__div:nth-child(11){
            grid-column: 3 / span 1;
            grid-row: 7 / span 2;
        }
    
        &__div:nth-child(12){
            grid-column: 2 / span 1;
            grid-row: 6 / span 1;
        }
    }
}

@include laptop__b{
    .galery{
        @include gridlayout(3, auto, 11, 11em, 0.2em){
        };

        &__div:nth-child(1){
            grid-column: 1 / span 1;
            grid-row: 1 / span 5;
        }
    
        &__div:nth-child(2){
            grid-column: 3 /  span 1;
            grid-row: 1 / span 5 ;
        }
    
        &__div:nth-child(3){
            grid-column: 2 / span 1;
            grid-row: 1 / span 4;
        }
    
        &__div:nth-child(4){
            grid-column: 2 / span 1;
            grid-row: 5 / span 2;
        }
    
        &__div:nth-child(5){
            grid-column: 3 / span 1;
            grid-row: 6 / span 4;
        }
    
        &__div:nth-child(6){
            grid-column: 1 / span 1;
            grid-row: 9 / span 2;
        }
    
        &__div:nth-child(7){
            grid-column: 1 / span 1;
            grid-row: 6 / span 3;
        }
    
        &__div:nth-child(8){
            grid-column: 1 / span 1;
            grid-row: 11 / span 4;
        }
    
        &__div:nth-child(9){
            grid-column: 2 / span 1;
            grid-row: 11 / span 2;
        }
    
        &__div:nth-child(10){
            grid-column: 2 / span 1;
            grid-row: 7 / span 4;
        }
    
        &__div:nth-child(11){
            grid-column: 3 / span 1;
            grid-row: 10 / span 2;
        }
    
        &__div:nth-child(12){
            grid-column: 3 / span 1;
            grid-row: 12 / span 2;
        }

        &__img:hover{
            opacity: 0.5;
            transition: 0.4s ease;
        }
    }



   
}